<div class="row text-center">
  <% if @taxon.leaf? %>
  <h1 class="taxon-title"><%= @taxon.name %></h1>
  <% end %>
</div>
<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation" class="sidebar-col">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>

<div data-hook="taxon_products">
  <% if @taxon.leaf? %>
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  <% end %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>
