
<% @body_id = 'home-page' %>
<script type="text/javascript" src="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.js"></script>
<div class="container-fluid slider-wrap">
  <div class="row">
    <div id="sg-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1" class=""></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner carousel-zoom">
        <% taxonomy = Spree::Taxonomy.first %>
          <% taxonomy.root.children.limit(3).each_with_index do |taxon, i| %>
            <div class="item <%= 'active' if i == 0 %>">
              <img class="img-responsive" src="/vinsol_spree_themes/current/images/home-slider/slide<%= i+1 %>.jpg" alt="">
              <div class="carousel-caption">
              <h3><%= link_to taxon.name, "t/" + taxon.permalink %></h3>
              <div class="banner-title">The Young <br>&amp Innovative</div>
              <%= link_to "Explore", 't/' + taxon.permalink,  class:'btn btn-hover' %>
              </div>
            </div>
            <% end %>
 
        
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#sg-carousel" data-slide="prev">‹</a>
      <a class="carousel-control right" href="#sg-carousel" data-slide="next">›</a>
    </div> 
  </div>
</div>
</div>
<div class="row bg-white">
  <div class="container">
    <h2 class="text-center">Products</h2>
    <div class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <% taxonomy = Spree::Taxonomy.first %>
          <% taxonomy.root.children.limit(3).each_with_index do |taxon, i| %>
            <li class="<%= 'active' if i == 0 %>">
              <a href="#tab_default_<%= taxon.id %>" data-toggle="tab"><%= taxon.name %></a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% taxonomy.root.children.limit(3).each_with_index do |taxon, i| %>
            <div class="tab-pane <%= 'active' if i == 0 %>" id="tab_default_<%= taxon.id %>" data-hook="homepage_products">
              <div class="fsh-demo" data-slider="tab-slider">
                <% taxon.products.limit(10).each do |product| %>
                  <div class="item">
                    <% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
                    <div id="product_<%= product.id %>" class="col-md-12 col-sm-12 col-xs-12 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
                      <div class="panel panel-default">
                        <% cache([I18n.locale, current_currency, taxon, product]) do %>
                        <%= link_to '', url, class: 'link-overlay' %>
                          <div class="panel-body text-center product-body">
                            <%= link_to url, itemprop: "url" do %>
                              <span class="image-box"><%= large_image(product, itemprop: "image", class: 'img-responsive home-pd-img') %></span><br/>
                              <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
                            <% end %>
                          </div>
                          <div class="panel-footer text-center">
                            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                              <span class="price selling lead" itemprop="price" content="<%= product.price_in(current_currency).amount.to_d %>">
                                <%= display_price(product) %>
                              </span>
                              <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
                            </span>
                          </div>
                          <div class="product-hover">
                            <div class="product-inner text-center">
                              <span class="hover-icon">
                                <%= link_to url, itemprop: "url"  do %>
                                  <i class="fa fa-eye fa-fw"></i> View 
                                <% end %>
                              </span>
                            </div> 
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="row  about-sec">
  <div class="container">
    <div class="col-sm-12 text-center ">
      <h2>Company info</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis sodales lectus, vel congue dui sagittis non. Nulla non fermentum ex, ac aliquam augue. Cras id enim vel lacus cursus rutrum sit amet nec ante. Morbi consectetur massa est. Proin condimentum ultricies elit convallis varius.</p>
      <div class="social-media">
        <ul class="list-inline">
          <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
