<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <%= stylesheet_link_tag 'default.manifest.css' %>
    <%= javascript_include_tag 'default.manifest.js' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="for-sticky-footer">
      <div>
        <div class="global_alert">
          <%= flash_messages %>
        </div>
        <%= render partial: 'spree/shared/google_analytics.js' %>
        <%= render partial: 'spree/shared/trackers/segment/initializer.js' %>
        <%= render partial: 'spree/shared/header' %>

        <div class="<%= (@body_id == 'home-page') ? 'container-fluid' : 'container' %>">
          <div class="row" data-hook>
            <%= breadcrumbs(@taxon) %>

            <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

            <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-12" %>" data-hook>
              <%= yield %>
            </div>

            <%= yield :templates %>
          </div>
        </div>
      </div>
      <div>
        <%= render partial: 'spree/shared/footer' %>
      </div>
    </div>




  </body>
</html>
