<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<table class="table" id="cart-detail" data-hook>
  <thead>
    <tr class="active" data-hook="cart_items_headers">
      <th class="cart-table-header cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
      <th class="cart-table-header cart-item-price-header"><%= Spree.t(:price) %></th>
      <th class="cart-table-header cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <th class="cart-table-header cart-item-total-header"><%= Spree.t(:total) %></th>
      <th class="cart-table-header cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></td>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>
  <tr class="cart-total-row">
    <td colspan="2" class="cart-coupon-block">
      <div class='' data-hook='coupon_code'>
        <%= order_form.label :coupon_code %>
        <%= order_form.text_field :coupon_code, size: '30', class: 'global-input' %>
        <%= button_tag Spree.t(:coupon_code_apply), class: 'button-primary button-small' %>
      </div>
    </td>
    <td colspan="2" align='right' class="cart-total-text"><%= Spree.t(:total) %></td>
    <td colspan="2" class="cart-total-block" colspan><%= order_form.object.display_total %></td>
  </tr>
</table>
