<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>

<% unless filters.empty? %>
  <%= form_tag '', method: :get, id: 'sidebar_products_search' do %>
    <%= hidden_field_tag 'per_page', params[:per_page] %>
    <% filters.each do |filter| %>
      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
      <% next if labels.empty? %>
      <div class="navigation sidebar-item" data-hook="navigation">
        <h4 class="sidebar-title">
          <div class="row">
            <div class="col-xs-10 sidebar-title-text">
              <%= filter[:name] %>
            </div>
            <div class="col-xs-2 sidebar-accordion-link">
              <a href="javascript:" class="sidebar-accordion-link">
                <span class="glyphicon glyphicon-chevron-down icon-down"></span>
                <span class="glyphicon glyphicon-chevron-up icon-up"></span>
              </a>
            </div>
          </div>
        </h4>
        <ul class="list-group">
          <% labels.each do |nm,val| %>
            <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
            <li class="list-group-item">
              <input type="checkbox"
                     id="<%= label %>"
                     name="search[<%= filter[:scope].to_s %>][]"
                     value="<%= val %>"
                     <%= params[:search].present? && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
              <label class="nowrap" for="<%= label %>"> <%= nm %> </label>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= submit_tag Spree.t(:search), name: nil, class: 'button-primary sidebar-button' %>
  <% end %>
<% end %>
