<section class="homepage-brand">
  <div class="container">
    <h4 class='section-heading heading-center no-border'>Popular Brands</h4>
    <div class="homepage-brand-section">

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-bag.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Bags</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-mug.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Mugs</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-clothing.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Clothing</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-ruby.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Ruby</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-apache.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Apache</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-spree.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Spree</a>
      </div>

      <div class="homepage-brand-block">
        <div class="homepage-brand-image-block">
          <a class="homepage-brand-image-holder" href="/t/brands/bags">
            <%= image_tag 'category-rails.png', class: 'homepage-brand-image' %>
          </a>
        </div>
        <a class="homepage-brand-title" href="/t/brands/bags">Rails</a>
      </div>

    </div>
  </div>
</section>
