<fieldset id="password-credentials">
  <div class="login-form-row">
    <%= f.label :email, Spree.t(:email), class: 'form-label' %>
    <%= f.email_field :email, :class => 'global-input', :placeholder => Spree.t(:email) %>
  </div>
  <div class="login-form-row">
    <%= f.label :password, Spree.t(:password), class: 'form-label' %>
    <%= f.password_field :password, :class => 'global-input', :placeholder => Spree.t(:password) %>
  </div> 
  <div class="login-form-row">
    <%= f.label :password_confirmation, Spree.t(:password_confirmation), class: 'form-label' %>
    <%= f.password_field :password_confirmation, :class => 'global-input', :placeholder => Spree.t(:confirm_password) %>
  </div> 
</fieldset>
<div data-hook="signup_below_password_fields"></div>
