<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" itemscope itemtype="https://schema.org/Product">
    <div class="row product-top-row">
      <div class="col-sm-6 product-image-section" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="product-image-block" data-hook>
              <div class="product-image-holder">
                <%= product_image(@product, itemprop: "image", class: 'product-main-image') %>
              </div>
            </div>
            <div id="thumbnails" class="product-thumbnails" data-hook>
              <%= render partial: 'thumbnails' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 product-properties-section" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

            <div id="cart-form" data-hook="cart_form">
              <%= render partial: 'cart_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-bottom-block">
      <div class="product-description-block" itemprop="description" data-hook="description">
        <h2 class="section-heading no-border product-description-title">Description</h2>
        <div class="product-description-text">
          <%= product_description(@product) %>
        </div>
      </div>

      <div class="product-properties-section" data-hook="product_properties">
        <%= render partial: 'properties' %>
      </div>

      <div data-hook="promotions">
        <%= render partial: 'promotions' %>
      </div>

      <div id="taxon-crumbs" class="product-similar-items-block" data-hook="product_taxons">
        <%= render partial: 'taxons' %>
<!--         <h3 class="section-heading"><%= Spree.t(:look_for_similar_items) %></h3>
        <div class="row product-similar-items-row">
          <div class="col-sm-3 col-xs-6 product-block">
            <div class="product-holder">
              <div class="product-image-block">
                <a href="javascript:" class="product-image-holder">
                  <%= image_tag '/vinsol_spree_themes/current/images/category-bag.png', class: 'product-image' %>
                </a>
              </div>
              <div class="product-content-block">
                <div class="product-title-block">
                  <a href="javascript:" class="product-title">Product Name</a>
                </div>
                <div class="product-price-block">$19.99</div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6 product-block">
            <div class="product-holder">
              <div class="product-image-block">
                <a href="javascript:" class="product-image-holder">
                  <%= image_tag '/vinsol_spree_themes/current/images/category-mug.png', class: 'product-image' %>
                </a>
              </div>
              <div class="product-content-block">
                <div class="product-title-block">
                  <a href="javascript:" class="product-title">Product Name</a>
                </div>
                <div class="product-price-block">$19.99</div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6 product-block">
            <div class="product-holder">
              <div class="product-image-block">
                <a href="javascript:" class="product-image-holder">
                  <%= image_tag '/vinsol_spree_themes/current/images/category-clothing.png', class: 'product-image' %>
                </a>
              </div>
              <div class="product-content-block">
                <div class="product-title-block">
                  <a href="javascript:" class="product-title">Product Name</a>
                </div>
                <div class="product-price-block">$19.99</div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6 product-block">
            <div class="product-holder">
              <div class="product-image-block">
                <a href="javascript:" class="product-image-holder">
                  <%= image_tag '/vinsol_spree_themes/current/images/category-ruby.png', class: 'product-image' %>
                </a>
              </div>
              <div class="product-content-block">
                <div class="product-title-block">
                  <a href="javascript:" class="product-title">Product Name</a>
                </div>
                <div class="product-price-block">$19.99</div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
<% end %>
