<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <%= stylesheet_link_tag 'default.manifest.css' %>
    <%= javascript_include_tag 'default.manifest.js' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= flash_messages %>

    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/trackers/segment/initializer.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="wrapper">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-md-9" %>" data-hook>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    <%= render partial: 'spree/shared/footer' %>
    <div class="responsive-overlay"></div>
  </body>
</html>
