<% if @product.taxons.present? %>
  <h2 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h2>
  <div class="row" id="similar_items_by_taxon" data-hook data-slider="tab-slider">
    <% @product.taxons.each do |taxon| %>
      <div class="col-md-2 col-sm-3 col-xs-6">
        <% product = taxon.products.last %>
        <div>
          <%= link_to seo_url(taxon), class: '' do %>
            <%= image_tag(product.images.last.attachment.url(:large), class:'img-responsive center-block') %>
          <% end %>
        </div>
        <p class="text-center mt10">
          <%= link_to seo_url(taxon) do %>
            <span class="similar_taxon"><%= taxon.name %></span>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
