<% if "spree/products" == params[:controller] && @taxon || @taxonomies.present? %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <% if "spree/products" == params[:controller] && @taxon %>
        <%= render partial: 'spree/shared/filters' %>
      <% else %>
        <%= render partial: 'spree/shared/taxonomies' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if params[:keywords] %>
  <div data-hook="search_results">
    <% if @products.empty? %>
      <div>
        <%= image_tag asset_path('no-search-result.jpg'), class: 'img-responsive center-block'%>
      </div>
      <h1 class="search-results-title text-center"><small><%= Spree.t(:no_products_found) %></small></h1>

      <% @body_id = 'search-no-found' %>
      <article class="search_page_similar" >

        <h2 class="product-section-title">
          Try something like
        </h2>
        <% taxonomy = Spree::Taxonomy.first %>
        <div class="row">
          <% taxonomy.root.children.first.products.limit(6).each_with_index do |product, i| %>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <% url = spree.product_path(product) %>
                <%= link_to '', url, class: 'link-overlay' %>
                <div>
                  <%= link_to url, itemprop: "url" do %>
                    <%= product_image(product, itemprop: "image", class: 'img-responsive center-block') %><br/>
                  <% end %>
                </div>
                <p class="product-name">
                  <%= link_to url, itemprop: "url" do %>
                    <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
                  <% end %>
                </p>

                <p itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="price-col">
                  <b class="price selling" itemprop="price"><%= display_price(product) %></b>
                </p>
            </div>
          <% end %>
        </div>
      </article>

    <% else %>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    <% end %>
  </div>
<% else %>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    <% end %>
  </div>
<% end %>
