<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-6" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images" class="product-images-container">
          <div id="main-image" class="product-main-image-container"  data-hook>

            <div class="zoom" id='product_zoom'>
              <div class="zoom-message">
                <span class="fa fa-search-plus"></span>
              </div>
              <%#= large_image(@product, itemprop: "image", class: 'img-responsive center-block') %>
              <%= create_product_image_tag(@product.variant_images.first,@product,{ itemprop: "image", class: 'img-responsive center-block' },"original") %>
            </div>

          </div>
          <div id="thumbnails" class="product-thumbnail-container" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div itemprop="description" data-hook="description">
            <div class="show_2_lines_description product_description_toggle_area"><%= product_description(@product) %></div>
            <a href="javascript:" class="btn btn-site-bordered btn-sm mt10 product_description_toggle_button"></a>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
    <%= render partial: 'taxons' %>
  </div>
<% end %>



<script>
$(document).ready(function(){
    $(".product_description_toggle_button").click(function(){
        $(".product_description_toggle_area").toggleClass("show_2_lines_description");
    });
});
</script>
