<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= product_image(@product, itemprop: "image", class: 'img-responsive center-block') %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render partial: 'thumbnails' %>
          </div>
        </div>




      </div>
    </div>

    <div class="col-md-7" data-hook="product_right_part">

    <div class="tablist">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#product_description_show" aria-controls="home" role="tab" data-toggle="tab">
            Description
          </a>
        </li>
        <li>
          <a href="#product_properties_show" aria-controls="profile" role="tab" data-toggle="tab">
            Properties
          </a>
        </li>
        <% if @product.possible_promotions.present? %>
          <li>
            <a href="#product_promotions_show" aria-controls="profile" role="tab" data-toggle="tab">
              promotions
            </a>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div  class="tab-pane active" id="product_description_show">
          <%= product_description(@product) %>
        </div>
        <div  class="tab-pane" id="product_properties_show">
          <div data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>
        </div>

        <% if @product.possible_promotions.present? %>
          <div class="tab-pane" id="product_promotions_show">
            <div data-hook="promotions">
              <%= render partial: 'promotions' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>


      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
    <%= render partial: 'taxons' %>
  </div>
<% end %>
